{#{% if 'homepage' == app.request.attributes.get('_route') %}    #}
{#<div class="block_outer">#}
{#    <div id="pickup_info_area">#}
{#        <h2 class="top_h2">PICK UP INFORMATION<span class="h2_ja">オススメ情報</span>#}
{#        </h2>#}
{#        <div class="block_body">#}
{#            <div class="pickup_contents">#}
{#                <div class="banner1"><a href=""><p>会員限定のスペシャルセール<br>登録がまだの方はコチラ</p></a></div>#}
{#                <div class="banner2"><a href=""><img src="{{ asset('assets/img/banner/b543_20200213bn.png') }}" alt=""></a></div>#}
{#                <div class="banner3"><a href=""><img src="{{ asset('assets/img/banner/bnr2.jpg') }}" alt=""></a></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% endif %}#}