{% if 'homepage' == app.request.attributes.get('_route') or 'product_list' == app.request.attributes.get('_route') %}        
    <div class="block_outer">
        <div id="shoping_guide_area">
            <h2 class="top_h2">SHOPPING GUIDE<span class="h2_ja">ショッピングガイド</span>
            </h2>
            <div class="block_body">
                <div class="guide_contents">
                    <div class="guide_pay_wrap">
                        <div class="open_button">
                            <h4>お支払方法について</h4>
                        </div>
                        <div class="pay_text open_text">
                            <p>お支払いは『WEBコンビニ決済/ PayPayオンライン/ auかんたん決済/ ドコモ払い/ ソフトバンクまとめて支払い/ 銀聯ネット決済/ クレジットカード/ 銀行振込』にて承ります。</p>
                            <h5>【代金引換決済について】</h5>
                            <p>代金引換は対応しておりません。</p>
                            <h5>【クレジット決済について】</h5>
                            <p>ご利用いただけるカード会社は『JCB/VISA/Master/AMEX』です。</p>
                            <img src="{{ asset('assets/img/title/guide_credit.png') }}" alt="">
                        </div>
                    </div>
                    <div class="guide_hour_wrap">
                        <div class="open_button">
                            <h4>営業時間について</h4>
                        </div>
                        <div class="hour_text open_text">
                            <p>ご注文・メールは24時間受け付けております。
                            <br><span>営業時間</span>　平日10:00〜18:00
                            <br>※お問い合わせがございましたら、お問い合わせフォームよりご連絡ください。</p>
                        </div>
                    </div>
                    <div class="guide_ship_wrap">
                        <div class="open_button">
                            <h4>送料・配送について</h4>
                        </div>
                        <div class="ship_text open_text">
                            <p>平日17時・土日祝は16時まで発送中♪(ご注文〆切時間までにご注文いただいても、前払いコンビニ決済はご入金後の反映、NP後払いは審査に時間がかかります。こちらで確認がとれたもののみとなります。）</p>
                            <p>配送は日本郵便/佐川急便/ヤマト運輸でお届けいたします。</p>
                            <p>※日本郵便のゆうパックで配達しているお荷物は、日本郵便から直接お客様に、配達に関するメールをお送りしております。</p>
                            <p>配送方法は宅配便(※配送業者のご指定は出来ません)もしくはネコポス(ヤマト運輸)をご選択できます。</p>
                            <p>※配送日時のご指定はできません。</p>
                            <p>ご注文をいただき内容に不備がなければ1～2営業日で発送いたします。</p>
                            <p>※在庫のない場合やお取り寄せとなった場合、3～4週間かかってしまうこともございます。ご注文後、2週間以上たっても商品が届かない場合は、郵送事故の可能性もありますので、お問い合わせください。</p>
                            <p>※海外への配送は対応しておりません。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            $('.open_button').on('click',function(){
              $(this).toggleClass('close');
              $(this).next('.open_text').fadeToggle(500);
            });
    </script>
{% endif %}