{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <h2 class="title">プライバシーポリシー</h2>
    <div id="undercolumn">
        <div id="undercolumn_login">
            <div class="howto_area">
                <p>当ECショップを運営する株式会社アミジェスでは、当サイトのあらゆる方法で収集したお客様様の個人情報を取り扱うにあたり、個人情報に関する法令を遵守することを目的として、以下を宣言します。</p>
            </div>
            <div class="howto_area">
                <h3>個人情報の定義</h3>
                <p class="inputtext">・当社は、個人情報保護の重要性を認識し、以下の方針に基づき顧客及び取引先の個人情報の保護に努めることを宣言します。</p>
                <p class="inputtext">・当社は、個人情報の保護に関する法令及び本規程を遵守します。</p>
                <p class="inputtext">・当社は、適法かつ公正な手段によって個人情報を取得します。</p>
                <p class="inputtext">・当社が取得した個人情報は、取得の際に示した利用目的の範囲内で適切に取り扱います。 </p>
                <p class="inputtext">・当社は、法令の範囲や本規程に定める場合を除き、個人情報を事前に本人の同意を得ることなく第三者に提供しません。</p>
                <p class="inputtext">・当社は、個人情報の安全管理のため、取り扱う個人データの漏えい・滅失又は毀損を防止するため不正アクセス対策・ウイルス対策等必要かつ適切な措置を講じます。</p>
                <p class="inputtext">・当社は個人情報に対し開示・訂正・削除を求められたときは合理的な期間内に速やかに応じます。</p>
                <p class="inputtext">・当社は個人情報について適正に管理されるよう従業者に対する教育を行い、継続的に改善することによって常に最良の状態を維持します。</p>
            </div>
        </div>
    </div>
{% endblock %}