{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}
{% block stylesheet %}
<style>
.howto_area dl {
    display: flex;
    border-bottom: 1px dotted #ccc;
    flex-wrap: nowrap;
    padding: 10px 0;
}
.howto_area dt {
    width: 30%;
}
.howto_area dd {
    width: 70%;
    line-height: 2;
}
</style>
{% endblock %}
{% block main %}
    <h2 class="title">特定商取引法に基づく表記</h2>
    <div id="undercolumn">
        <div id="undercolumn_login">
            <div class="howto_area">
                <p>当ECショップを運営する株式会社アミジェスでは、当サイトのあらゆる方法で収集したお客様様の個人情報を取り扱うにあたり、個人情報に関する法令を遵守することを目的として、以下を宣言します。</p>
            </div>
            <div class="howto_area">
                <dl>
                    <dt>
                        <label class="ec-label">販売業者</label>
                    </dt>
                    <dd>株式会社　アミジェス</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">代表責任者</label>
                    </dt>
                    <dd> 迫田　清孝　【販売管理者:　瀬島　保二】 </dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">高度管理医療機器等販売許可番号</label>
                    </dt>
                    <dd>第 4502030700003　号</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">所在地</label>
                    </dt>
                    <dd> 180-0022 東京都武蔵野市境2-10-21　マドレーヌ武蔵野203号 </dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">電話番号</label>
                    </dt>
                    <dd>0422-59-1611</dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">メールアドレス</label>
                    </dt>
                    <dd><a href="mailto:">info@karakonya.com</a></dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">URL</label>
                    </dt>
                    <dd><a href="https://karakonya.com/">https://karakonya.com/</a></dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">商品代金以外の必要料金</label>
                    </dt>
                    <dd>
                        代引き時:代引き手数料440円、送料(※下記参照)<br/>
                        <br/>
                        ※送料<br/>
                        北海道　1122円<br/>
                        北東北　792円<br/>
                        南東北　682円<br/>
                        関東　　572円<br/>
                        信越　　682円<br/>
                        北陸　　682円<br/>
                        中部　　682円<br/>
                        関西　　792円<br/>
                        中国　　902円<br/>
                        四国　　902円<br/>
                        九州　 1122円<br/>
                        沖縄県 1210円<br/>
                        <br/>
                        ※ネコポス送料<br/>
                        全国一律350円（二箱まで）<br/>
                        <br/>
                        ※海外<br/>
                        海外への配送はしておりません。
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">引き渡し時期</label>
                    </dt>
                    <dd>
                        ご注文いただいてから2～3日で発送させていただきます。<br/>
                        (土・日・祝祭日は除く)
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">お支払方法</label>
                    </dt>
                    <dd>
                    代金のお支払いは『WEBコンビニ決済/ PayPayオンライン/ auかんたん決済/ ドコモ払い/ ソフトバンクまとめて支払い/ 銀聯ネット決済/ クレジットカード/ 銀行振込』にて承ります。
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label class="ec-label">返品・交換について</label>
                    </dt>
                    <dd>
                    ご購入後、1週間以内 <br/>
                    【返品】<br/>
                    返品は基本的に受け付けておりません。<br/>
                    初期不良は早めにお申し出ください。
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}